click>=7.1
black==22.3.0
flake8==4.0.1
numpy==1.24.2
scikit-learn
pandas
monai
datasets
PyYAML
loguru

# SAM
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/huggingface/transformers.git

# torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu117
torchvision==0.14.0+cu117